@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply font-bold py-2 px-4 rounded;
  padding: 0.5rem 2rem;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
form > input, label {
  width: 100%;
  margin-bottom: 0.5em;

}
select {
  width: 100%;
  margin-bottom: 0.5em;
}

.check {
  display: flex;
  justify-content: space-between;
}
form {
  border: 2px solid rgba(59, 130, 246, 0.5);
  padding: 2em;
  max-width: 600px;
  /* box-shadow: 10px 10px 10px rgba(224, 224, 224, 0.329); */
}
label {
  font-weight: 600;
  font-size: 18px;
   color: rgba(30, 58, 138);
}

.prediction {
  max-width: 600px;
}
.title {
  max-width: 600px;
  font-weight: 700;
}
.logo {
  padding-bottom: 0.5em;
}

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em 2em;
    background-color: #6930c3;
    color: white;
    font-weight:bolder ;
}
.nav {
  margin-right: 1em;
}

